<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alm3adl">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".moyenclass.Section_rate"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
        <activity
            android:name=".moyenclass.slider"
           android:theme="@style/Theme.MyDialog"/>

        <activity
            android:name=".splash_screen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".bac.flsafabac"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".bac.longbac"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".bac.trbac"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".bac.gestionbac"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".bac.sentficbac"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".bac.mathbac"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".flsafa3anee.Result3aneeflsafa"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".flsafa3anee.hsabm3dl3aneeflsafa"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".long3anee.Result3aneelong"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".long3anee.hsabm3dl3aneelong"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".tr3anee.Result3anneetr"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".tr3anee.hsabm3dl3aneetr"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Gestion3anee.Result3aneegestion"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Gestion3anee.hsabm3dl3aneegestion"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".sntfic3anee.Result3aneesentfic"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".sntfic3anee.hsabm3dl3aneesentfic"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".math3anee.Result3aneemath"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".math3anee.hsabm3dl3aneemath"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".flsafa2anee.Resulet2aneeflsafa"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".flsafa2anee.hsabm3dl2aneeflsafa"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".long2anee.Resulet2aneelong"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".long2anee.hsabm3dl2aneelong"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".tr2annee.Result2aneetr"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".tr2annee.hsabm3dl2anneeTR"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Gestion2anee.Resulet2aneegestion"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Gestion2anee.hsabm3dl2aneeGestion"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".sentfic2anee.Result2aneesentfic"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".sentfic2anee.hsabm3dl2aneesentfic"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".math2anee.Resulet2aneemath"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".math2anee.hsabm3dl2anneemath"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".literary.Resulet1anneeliterary"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".literary.hsabm3dl1anneeliterary"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".sentfic.hsabm3dl1anneesentfic"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".sentfic.Resulet1anneesentfic"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".home"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>